 
       body{
           
           font-family: 'Poppins' , sans-serif;
           overflow: scroll;
       }
       .buttompage{
           background-image: url(pics-rana/petdoc.jpeg) ;
           background-position: right;
           background-position-y: bottom;
           background-repeat: no-repeat;
           
           background-size: 32%;
       }
       .headerbar{
          width: 90% ;
          padding:0 5%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .logo{
          width: 100px;
          
        }
        .headerbar ul{
            list-style: none;
            display: flex;

        }
        .headerbar ul li{
            margin: 0 15px;
            border-bottom: 2px solid #009688 ;
            position: relative;

        }
        .headerbar ul li a{
          text-decoration:  none;
          color: grey;  
          position:relative;
          transition: all 0.3s;
        }

        .headerbar ul li a:hover{
          color: black;
          transition: 0.2s;
          padding: 0px;
        } 
        .dropdown{
            display: none;
        }
        .headerbar ul li:hover .dropdown {
          display: block;
          position: absolute;
          left: 0;
          top: 100%;
          background-color:#009688;
          font-size: 11px;

        }
        .dropdown ul li a{
            color: white;
        }
        .dropdown ul{
          display: block; /* Display the dropdown */
         
        }


         body{font-family: 'Poppins' , sans-serif;}

         .headbar ul li.dropdown{
             display: block;
         }
        .menu-rana{
          width: 90% ;
          margin:auto;
          padding: auto;
          padding: 25px ;
          display: flex;
          align-items: center;
          justify-content: space-between;
       }
       
        .menu-rana ul li{
          list-style: none;
          align-items: center;
          display: inline-block;
          margin: 0 15px;
          position:relative;
        }
        .menu-rana ul li a{
          text-decoration:  none;
          color: grey;  
          position:relative;
        }
        .menu-rana li a:hover{
           color: black;
           transition: 0.2s;
           border-bottom: 2px solid #009688;
        }

        .newappt, #req  {
            text-align:right;
            width: 50%;
            position: relative;
            border-style: solid;
            border-radius: 25px;
            border-width: 2px;
            padding: 35px;
            border-color:rgb(163, 162, 162);
            justify-content: space-between; 
            box-shadow: 5px 5px rgb(218, 216, 216);
        }

        .prev {
            text-align:right;
            width: 50%;
            position: relative;
            border-style: solid;
            border-radius: 25px;
            border-width: 2px;
            padding: 80px;
            border-color:rgb(163, 162, 162);
            justify-content: space-between; 
            box-shadow: 5px 5px rgb(218, 216, 216);

        }
        
        
        .newappt ul li , .newappt2 ul li{
            list-style: none;
            display: inline-block;
            margin: 0 7px;
        }
        .newappt ul li .info{
            text-align: left;
            position:absolute;
            top: 3px;
            left: 40px;
        }
         .newappt ul li .info2{
            text-align: left;
            position:absolute;
            top: 170px;
            left: 40px;
        }

        #req ul li {
            list-style: none;
            display: inline-block;
            margin: 0 7px;
        }

        #req ul li .info3{
            text-align: left;
            position:absolute;
            top: 2px;
            left: 40px;
        }
         #req ul li .info4{
            text-align: left;
            position:absolute;
            top: 2px;
            left: 40px;
        }
        .prev ul li {
            list-style: none;
            display: inline-block;
            margin: 0 7px;
        }
        .prev ul li .info5{
            text-align: left;
            position:absolute;
            top: 2px;
            left: 40px;
        }
        .status {
            text-align:center;
            width: 20%;
            margin-left: 80%;
            position: relative;
            border-style: solid;
            border-radius: 25px;
            border-width: 2px;
            padding: 2px;
          
        }
       .prev ul li  .class-notes {
        position: absolute;
        top: 120px;
        left: 40px;
         text-align: left;
     }
     textarea{
         background-color: #a9dad441;
         color: #171f1e;
         border: none;
         font-size: 1.25rem;
         box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
         outline: none;
     }
     button{
    color: #009688 ;
    font-size: 1.25rem;
    background: transparent;
    border: solid #0096877e;
    border-radius: 3em;
    padding-right: 10px;
    padding-left: 10px;  
    cursor: pointer;    
    
}

     
        footer {
          text-align: center;
          font-family: serif;
          padding: 3px;
          background-color: #D9CBB9;
          color: white;
          }

        h2{
            margin: 17px 20px;
            color: #0F4C81 ;
        }

        .footerContent p{
            color: #0F4C81 ;
        }

        .sm{ width: 170px; }