*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75) , rgba(0, 0, 0, 0.75)), url(pics-rana/petclinic1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container .row{
    width: 85%;
    margin: auto;
}
.container .row .heading-section {
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .heading-section h1 {
    padding-top: 30px;
    font-size: 42px;
}
.container .row .heading-section p{
    margin-top: 15px;
    color: white;
    font-size: 17px;
    line-height: 1.5;

}
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.content-section .card {
    flex: 1;
    margin: 40px 20px;
}
.content-section .card img{
    width: 100%;
    height: auto;
}
.content-section .card h4{
    margin-top: 20px;
}

.content-section .card p{
    font-size: 15px;
    margin-top: 10px;
    color : white;
    line-height: 1.5;
}

.map{
    filter: grayscale(0.2) ;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2) ;
    
}

