#myheader{
    margin: 2em;
    margin-bottom: 2em;
}

#myheader ul{
    position: absolute;
    top:0.4em;
    left: 48em;
    right: 1em;
    
	list-style-type: none;
	width: 50em;
	margin: 0px;
	padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
#myheader ul li{
   display: inline;
   font-weight: bold;
   position: relative;
   margin-left: 1em;
}
#myheader ul li a{
    
	text-decoration: none;
	color: rgb(10, 10, 54);
	font-size: 1rem;
	padding: 0.5em 1.5em;
	text-align: center;

 }

 #myheader ul li a:hover{
	color: rgb(99, 96, 96);
	transition: 0.2s;
}
.logo{
	color: rgb(10, 10, 54);
	font-weight: bold;
    font-size: 1em;
}
button{
	color: #395570 ;
    font-size: 1rem;
	padding: 10px 30px;
	background: transparent;
	border: 0.175em solid lightsteelblue;
	border-radius: 3em;
	outline: none;
	cursor: pointer;
	margin-left: 4em;
    margin-bottom: 3em;
}

#topRightLoginbtn{
   position: absolute;
   top:2em;
   right:6em;
    margin: 0px;
    font-size: 1em;
    color: rgb(10, 10, 54);;
}

