root{
    font-size: 16px;
}
body{
    font-family: 'Poppins' , sans-serif;
    margin: 2em;
}
.menu-rana{
    width: 90% ;
    margin:auto;
    padding: auto;
    padding: 25px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
  .menu-rana ul li{
    list-style: none;
    align-items: center;
    display: inline-block;
    margin: 0 15px;
    position:relative;
  }
  .menu-rana ul li a{
      text-decoration:  none;
    color: grey;  
    position:relative;
  }
  .menu-rana li a:hover{
      color: black;
    transition: 0.2s;
     border-bottom: 2px solid #009688;
  }

  .newappt, #req , .prev {
      text-align:right;
      width: 50%;
      position: relative;
      border-style: solid;
      border-radius: 25px;
      border-width: 2px;
      padding: 20px;
      border-color:rgb(163, 162, 162);
      justify-content: space-between; 
      box-shadow: 5px 5px rgb(218, 216, 216);
  }
  
  .newappt ul li , .newappt2 ul li{
      list-style: none;
      display: inline-block;
      margin: 0 7px;
  }
  .status {
      text-align:center;
      width: 20%;
      margin-left: 80%;
      position: relative;
      border-style: solid;
      border-radius: 25px;
      border-width: 2px;
      padding: 2px;
    
  }